---
import Layout from '../layouts/Layout.astro';
import rail from '../assets/rail.png';
---
<style is="global">
    @media (max-width: 768px) {
      .error-404 {
        background-position: center center !important;
      }
    }
    @media (max-width: 1380px) {
      .error-404 {
        background-position: center center !important;
      }
    }
  </style>
<Layout title="404 - Page Not Found">
    <section class="error-404" style={`
      position: relative;
      width: 100vw;
      min-height: 100vh;
      margin: 0;
      padding: 1rem 1rem;
      background-color: #292929;
      color: #ffffff;
      background-image: url(${rail.src});
      background-repeat: no-repeat;
    //   background-position: left 100%;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    `}>
     <div style="
     background: rgba(255, 255, 255, 0.719);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     padding: 5rem;
     border-radius: 12px;
     text-align: center;
     max-width: 90%;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   ">
   
   
     <h1 style="font-size: 3rem; margin-bottom: 1rem; font-weight: 700; color:#FC0867; text-shadow: 2px 2px 4px rgba(207, 207, 207, 0.7);
">404</h1>
     <h2 style="font-size: 1.5rem; margin-bottom: 2rem;font-weight: 700;  color:#010101; 
">Oops! Page not found.</h2>
     <p style="
        margin-bottom: 2rem;
        font-size: 1rem;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        color: #000000;      
        <!-- text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); -->
        
     ">
       The page you’re looking for doesn’t exist or has been moved.
     </p>
   </div>
 </section>
</Layout>