---
import { SEO } from "astro-seo";
const SITE = "https://www.buxrail.com";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <SEO
      title="Buxrail | Simplify your travel"
      description="BuxRail is an app that streamlines your journeys…"
      openGraph={{
        basic: {
          title: "Buxrail | Simplify your travel",
          url: SITE,
          image: `${SITE}/header.jpg`,
          type: "website",
        },
        article: { authors: ["Buxrail"] },
        image: { url: `${SITE}/header.jpg`, alt: "Buxrail header image" },
      }}
      twitter={{
        card: "summary_large_image",
        title: "Buxrail | Simplify your travel",
        description: "BuxRail is an app that streamlines your journeys…",
        image: `${SITE}/header.jpg`,
      }}
    />

    <link rel="icon" href="/favicon.svg" />
  </head>
  <body>
    <slot />
  </body>
</html>
